html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: #1f0d00;
}

.title {
  width: 65vw;
  max-width: 2560px;
  margin: 0 auto 0 auto;
  padding-top: 30px;
}

.boss-image {
  width: 65vw;
  border: solid 9px #850000;
  border-radius: 7px;
}

.boss-name {
  font-family: "Times New Roman", Times, serif;
  font-size: 50pt;
  text-align: center;
  color: #adadad;
  margin: 20px 0 20px 0;
}

.sub-title {
  font-family: "Times New Roman", Times, serif;
  font-size: 45pt;
  color: #dadada;
  margin: 0 0 40px 0;
}

.content {
  font-family: "Times New Roman", Times, serif;
  font-size: 20pt;
  color: #ffffff;
  text-align: justify;
  margin: 0 10px 100px 10px;
  max-width: 2560px;
}

.homepage-button {
  margin: 0 0 15px 15px;
  display: block;
  width: 200px;
  height: 50px;
  font-size: 15pt;
  font-family: "Times New Roman", Times, serif;
  color: #dddddd;
  background-color: #9c0000;
  border: #1a1a1a solid 6px;
  border-radius: 10px;
}

.footer-text {
  margin: 0;
  padding: 0;
}

footer {
  font-family: "Times New Roman", Times, serif;
  font-size: 25pt;
  color: #ffffff;
  text-align: center;
  padding-top: 45px;
  height: 100px;
  max-width: 2560px;
  background-color: #292929;
}

@media (max-width: 656px) {
  .boss-name {
    font-size: 30pt;
  }

  .sub-title {
    font-size: 25pt;
  }

  .content {
    font-size: 16pt;
  }

  footer {
    font-size: 13pt;
  }
}

a {
  text-decoration: none;
}
